
body {
    margin: 0;
}

#content {
    width: 550px;
    height: 729px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero {
    background-color: #6943FF;
    height: 285px;
    font-family: "Inter", sans-serif;
}

#header {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 800;
    margin: 33px 50.6px 30px 51px; 
}

#input-num {
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: #6943FF;
    color: #FFFFFF;
    font-size: 58px;
    font-weight: 800;
    text-align: center;
    margin: 0px 216px 26.77px 217px; 
}

#convert-btn {
    color: #3D3D3D;
    border: none;
    border-radius: 5px;
    width: 117px;
    height: 50px;
    margin: 0px 216px 28px 217px; 
    background-color: #FFFFFF;
    font-size: medium;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 35px 0px;
}

.unit-box {
    width: 500px;
    height: 109px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

h2 {
    color: #5A537B;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

p {
    margin-top: 0px;
}







